.App {
  min-height: 100vh;
}

.flex-container {
  display: flex;
}

.message-container {
  flex: 1;
  word-break: break-all;
}

.user-list {
  position: sticky;
  top: 0px;
  align-self: flex-start;
  width: 145px;
  margin-left: 30px;
  height: 100vh;
  word-break: break-all;
  text-align: center;
  overflow-y: auto;
}

.user-list ul {
  list-style: none;
}

form span:before {
  content: "> ";
}

form input[type="text"] {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  color: #eee;
  width: 50%;
}

form input[type="submit"] {
  display: none;
}

.timestamp {
  color: #777;
}

input:focus {
  outline: none;
}

.video-room {
  position: sticky;
  top: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: flex-start;
  width: 30%;
  height: 100vh;
  margin-right: 15px;
  margin-left: 15px;
  overflow-y: auto;
  overflow-x: hidden;
}

.local,
.remote {
  display: flex;
  justify-content: center;
  align-items: center;
}

.local video {
  width: 100%;
}

.remote video {
  width: 50%;
}

.remote video:only-of-type {
  width: 100%;
}

.newMessages {
  position: fixed;
  bottom: 0;
  background-color: black;
  color: red;
  width: 100%;
}

.newMessages p {
  display: inline;
}

.newMessages p:first-child {
  color: red;
  font-weight: bold;
}

.newMessages p:last-child {
  text-decoration: underline;
  cursor: pointer;
}
