.App{
  min-height: 100vh;
}

form span:before{
  content: "> ";
}

form input[type="text"]{
  background-color: rgba(0,0,0,0);
  border: none;
  color: #eee;
  display: inline;
  width: 50%;
}

form input[type="submit"]{
  display: none;
}

.timestamp{
  color: #777;
}